
@{
    ViewBag.Title = "Index-AssignProjectEngineer";
}

<style>
    td.details-control {
        background: url('../Resoure/icon/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../Resoure/icon/details_close.png') no-repeat center center;
    }
</style>

@if ((ViewBag.GetRoles != "") && (ViewBag.GetMNRoles != null))
{
    if ((ViewBag.GetRoles == "Role_HD19" || ViewBag.GetRoles == "Role_HD20") && (ViewBag.GetMNRoles == "PDSCPAGE002"))
    {
        <div class="card-hover-shadow-2x card-border card" style="margin-top:25px;">
            <div class="card-header-tab card-header">
                <div class="card-header-title">
                    <h2 style="color:black;">Assign Project Engineer</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <!--use child row-->
                    @if (ViewBag.GetRoles == "Role_HD19")
                    {
                        <button onclick="window.location.href='@Url.Action("Create", "HD_AssignProjectEngineer")';" class="mb-2 mr-2 btn-icon btn-lg btn-shadow btn-outline-2x btn btn-outline-success">
                            <i class="fas fa-plus"></i>
                            Create
                        </button>
                    }
                    @*else if (ViewBag.GetRoles == "Role_HD20")
                    {
                    <button disabled onclick="window.location.href='@Url.Action("Create", "HD_AssignProjectEngineer")';" class="mb-2 mr-2 btn-icon btn-lg btn-outline-2x btn btn-outline-success disable_btn">
                        <i class="fas fa-plus"></i>
                        Create
                    </button>
                    }*@
                    
                    <div class="text-right">
                        <label class="text-font-20" style="color:red;font-weight:bold;display:none;" id="TextAlert"></label>
                    </div>
                    <h3 style="color:black;">Project Engineer</h3>
                    <table id="AssignPE" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No.</th>
                                <th>Project Engineer</th><!--+-->
                                <th>Project Manager</th>
                                <th>DM Project</th>
                                <th>Phone(PE)</th>
                                <th>E-mail(PE)</th>
                                <th>LIne ID(PE)</th>
                                <th>Action(edit)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript">


            $(document).ready(function () {
                On_Loading();
                Hide_backbtn();
                GetText();

                Render_AssigPE();

            });

            function GetText() {
                $.ajax({
                    type: "POST",
                    url: "/HD_AssignProjectEngineer/Load_CheckText",
                    data: {},
                    dataType: "json",
                    success: function (response) {

                        if (response.Count_MFG > 0) {
                            document.getElementById("TextAlert").style.display = "block";
                            document.getElementById("TextAlert").innerHTML = "***ยังมี " + response.Count_MFG + " จาก ทั้งหมด " +
                                response.Count_All_MFG + " MFG ที่ยังไม่กำหนด PE***";

                        }
                        else if (response.Count_MFG < 1) {
                            document.getElementById("TextAlert").style.display = "none";

                        }
                    },
                    failure: function (response) {
                    },
                    error: function (response) {
                    }
                });
            }

            function Render_AssigPE() {
                $.ajax({
                    type: "POST",
                    url: "/HD_AssignProjectEngineer/Load_AssightPage",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        //alert(response.d);
                    },
                    error: function (response) {
                        //alert(response.d);
                    }
                });
            }

            function OnSuccess(response) {
                if (response.code === 1) {
                    window.location = '/Login/Logout';
                }
                else {
                    var table = $("#AssignPE").DataTable(
                        {

                            searching: false,
                            info: true,
                            paging: true,

                            data: response,
                            columns: [
                                {
                                    "className": 'details-control',
                                    "orderable": true,
                                    "data": null,
                                    "defaultContent": ''
                                },
                                {
                                    'data': 'id',
                                    render: function (data, type, row, meta) {
                                        return meta.row + meta.settings._iDisplayStart + 1;
                                    }
                                },
                                {
                                    "data": 'ListModel.PE_Name'
                                },
                                { 'data': 'ListModel.Leader_Name' },
                                { 'data': 'ListModel.DM_Name' },
                                { 'data': 'ListModel.Phone' },
                                { 'data': 'ListModel.Email' },
                                { 'data': 'ListModel.LineID' },
                                {
                                    data: null,
                                    render: function (data, type, row) {
                                        if ('@ViewBag.GetRoles' == "Role_HD19") {
                                            return '<center>' +
                                                '<button Onclick="Edit(' + "'" + data.ListModel.PE_Code + "'" + ')"  class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-outline-2x btn btn-outline-info">' +
                                                '<i class="fas fa-pen"></i>' +
                                                '</button>' +
                                                '</center>'
                                                ;
                                        }
                                        else if ('@ViewBag.GetRoles' == "Role_HD20") {
                                            return '<center>' +
                                                '<button disabled Onclick="Edit(' + "'" + data.ListModel.PE_Code + "'" + ')"  class="mb-2 mr-2 btn-icon btn-icon-only btn-outline-2x btn btn-outline-info disable_btn">' +
                                                '<i class="fas fa-pen"></i>' +
                                                '</button>' +
                                                '</center>'
                                                ;
                                        }
                                        else {
                                            return "";
                                        }

                                    }
                                }
                            ]
                        });

                    Off_Loading();

                    $('#AssignPE tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            row.child(format(row.data())).show();
                            tr.addClass('shown');
                        }
                    });
                }
            };

            function format(d) {

                var html = '<table>';

                d.ListMFG.map((item, index) => {
                    html +=
                        '<tr>' +
                        '<td class="text-left">' + item.MFG_No + '</td>' +
                        '</tr>'

                });
                html += "</table>"
                return html;
            }

            function Edit(PECode) {
                $.ajax({
                    type: "POST",
                    url: "/HD_AssignProjectEngineer/ToEdit",
                    data: { PECode: PECode },
                    dataType: "json",
                    success: function (response) {
                        if (response.result == 'Redirect') {
                            window.location = response.url;
                        }
                    },
                    failure: function (response) {
                    },
                    error: function (response) {
                    }
                });
            }
        </script>

