
@{
	ViewBag.Title = "Login";
}

<style>
	.bg-img {
		/* The image used */
		background-image: url('../../ThridParty/Theam/ArchitectUI-Pro/assets/images/Bg/bg_login.jpg');
		/* Full height */
		height: 100%;
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>



<div class="app-container app-theme-white body-tabs-shadow bg">

	<div class="app-container">
		<div class="h-100">
			<div class="h-100 no-gutters row">
				<div class="h-100 d-flex bg-img justify-content-center align-items-center col-md-12 col-lg-12">
					<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-4">

						
								@if (!ViewBag.Status)
								{
									<div class="alert alert-danger fade show" role="alert"> @ViewBag.Message</div>
								}

								<div class="card-hover-shadow-2x card-border card">

									<div class="card-body">

										<center>
											<img src="~/ThridParty/Theam/ArchitectUI-Pro/assets/images/hitashi_logo_cut.png" style="margin-bottom:20px;" />
										</center>

										@*<div class="col-md-12">
											<div class="form-group row">
												<div class="col-sm-6">
													<label class="text-font-13" style="font-weight:bold;color:black;"> Mode : </label>
												</div>
												<div class="col-sm-6">
													<select class="form-control">
														<option value="">--Seleted--</option>
													</select>
												</div>
											</div>

										</div>*@


										@using (Html.BeginForm("Logining", "Login", FormMethod.Post, new { id = "LoginForm" }))
										{
											<div class="col-md-12" style="margin-bottom:0px;">
												<div class="form-group row">
													<div class="col-sm-1">

													</div>
													<div class="col-sm-10 text-center">
														@*<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">
																	<i class="fas fa-user-secret"></i>
																</span>
															</div>
															<select class="form-control">
																<option value="">--Selected--</option>
																<option value="Admin">Admin</option>
																<option value="PE">PE</option>
																<option value="QC">QC</option>
																<option value="Other">Other</option>
															</select>
														</div><br />*@

														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">
																	<i class="fas fa-user-friends fa-md"></i>
																</span>
															</div>
															<input id="Username" name="Username" placeholder="Username" type="text" class="form-control">
														</div><br />
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">
																	<i class="fas fa-key lg-md"></i>
																</span>
															</div>
															<input id="Password" name="Password" placeholder="Password" type="password" class="form-control">
														</div>
													</div>
														<div class="col-sm-1">

														</div>

														<div class="col-md-12">
															<div class="form-group row">
																<div class="col-sm-1">

																</div>
																<div class="col-sm-10 text-left">
																	@*<a href="http://www.google.co.th" style="margin-top:0px;" class="btn-lg btn btn-link">Forget Password?</a>*@
																</div>
																<div class="col-sm-1">

																</div>
																<div class="col-md-12">
																	<div class="form-group row">
																		<div class="col-sm-4">

																		</div>
																		<div class="col-sm-4 text-center" style="margin-top:25px;">
																			<button type="submit" class="border-0 btn-transition btn btn-shadow btn-outline-success">
																				Login
																			</button>
																		</div>

																	</div>
																</div>

															</div>
														</div>

													</div>
											</div>
										}



									</div>
								</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="~/Tempage/ArchitectUI-Pro/assets/core/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
<script>
	$(document).ready(() => {
		 $("#LoginForm").validate({
			rules: {
				Username: "required",
				Username: {
					required: true,
					minlength: 2,
				},
				Password: {
					required: true,
					minlength: 5,
				},
			},
			messages: {
				firstname: "Please enter your firstname",
				lastname: "Please enter your lastname",
				Username: {
					required: "Please enter a username",
					minlength: "Your username must consist of at least 2 characters",
				},
				Password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
				},
				confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above",
				},
				email: "Please enter a valid email address",
				agree: "Please accept our policy",
			},
			errorElement: "em",
			errorPlacement: function (error, element) {
				// Add the `invalid-feedback` class to the error element
				error.addClass("invalid-feedback");
				if (element.prop("type") === "checkbox") {
					error.insertAfter(element.next("label"));
				} else {
					error.insertAfter(element);
				}
			},
			highlight: function (element, errorClass, validClass) {
				$(element).addClass("is-invalid").removeClass("is-valid");
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element).addClass("is-valid").removeClass("is-invalid");
			},
		 });



		@*$.blockUI.defaults = {
			timeout: 10000,
			fadeIn: 500,
			fadeOut: 400,
		};

		$.blockUI({ message: $(".body-block") });
		
		$.unblockUI({ message: $(".body-block") });
		*@

		
	});
</script>


