@{
	ViewBag.Title = "EditQCDeect";
}

    <div class="card-hover-shadow-2x card-border card">
        <div class="card-header">
            <h2 style="color:black;">QC Final Defect</h2>
        </div>
        @if ((ViewBag.GetRoles == "Role_US32") && (ViewBag.GetMNRoles == "PDSCPAGE003"))
        {
            using (Html.BeginForm("EditDefect_QC", "ProjectUpdateStatus", FormMethod.Post, new { }))
            { 
                <div class="card-body">
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Defect Item : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <input id="DT_Code" name="DT_Code" type="text" hidden />

                                <label id="DefectItemText" class="text-font-12" style="font-weight:bold;color:red;"></label>
                                <input id="DefectItem" name="DefectItem" type="text" hidden />

                            </div>
                            <div class="col sm-3">
                            </div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Rank : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <select id="Rank" name="Rank" class="form-control">
                                    <option value="">--Selected--</option>
                                </select>
                            </div>
                            <div class="col sm-3">
                            </div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Issue Date : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <input onchange="CheckDate();" id="IssueDate" name="IssueDate" type="date" class="form-control" />
                            </div>
							<div class="col sm-3">
                                <label style="color:red;font-weight:bold;font-size:20px;">****</label>
							</div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>
					<div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">

                            </div>
                            <div class="col sm-5 text-left">
                                <label style="color:red;font-weight:initial;font-size:13px;">(Issue Date <= Today)</label>
                            </div>
                            <div class="col sm-2">

                            </div>
                            <div class="col sm-2">

                            </div>

                        </div>
                    </div>
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Issue By : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <label id="IssueBy" name="IssueBy" class="text-font-12"></label>
                            </div>
                            <div class="col sm-3">
                            </div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">In Charge Person : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <select id="InChargePerson" name="InChargePerson" class="form-control">
                                    <option value="">--Seleted--</option>
                                </select>
                            </div>
							<div class="col sm-3">
								<label style="color:red;font-weight:bold;font-size:20px;">****</label>
							</div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Responsibility : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <select onchange="GetDropDown_Case();" id="Responsibility" name="Responsibility" class="form-control">
                                    <option value="">--Seleted--</option>
                                </select>
                            </div>
							<div class="col sm-3">
								<label style="color:red;font-weight:bold;font-size:20px;">****</label>
							</div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Cause : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <select id="Case" name="Case" class="form-control">
                                    <option value="">--Seleted--</option>
                                </select>
                            </div>
							<div class="col sm-3">
								<label style="color:red;font-weight:bold;font-size:20px;">****</label>
							</div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>

                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Note Defect : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <textarea id="NoteDefect" name="NoteDefect" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="col sm-3">
                            </div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>
                    <div class="col md-12">
                        <div class="row form-group">
                            <div class="col sm-3 text-right">
                                <label class="text-font-13">Plan Rectify Finish : </label>
                            </div>
                            <div class="col sm-3 text-left">
                                <label id="PlanRectify" name="PlanRectify" class="text-font-12"></label>
                            </div>
                            <div class="col sm-3">
                            </div>
                            <div class="col sm-3">
                            </div>
                        </div>
                    </div>

                    <div class="col md-12 text-center">
                        <button id="SaveBtn" type="submit" hidden>save</button>
                    </div>

                </div>
            }
            <div class="col-md-12 text-center" style="margin-bottom:25px;">
                <button onclick="Save();" class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-outline-2x btn btn-outline-success">
                    <i class="fas fa-save"></i>
                    SAVE
                </button>
            </div>
        }
        else
        {
			<div class="card-body">
				<label style="color:red; font-weight:bold; font-size: larger">Please contact staff for set roles</label>
			</div>
        }
    </div>
@*<a id="btn_back" onclick="Back_Button();" class="float pointer" style="color:white;">
	<i class="fas fa-arrow-left B-icon"></i>
</a>*@
<a href="@Url.Action("Defect", "ProjectUpdateStatus")" class="float pointer" style="color:white;">
    <i class="fas fa-arrow-left B-icon"></i>
</a>
<script src="~/ThridParty/Theam/ArchitectUI-Pro/assets/core/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
<script src="~/lib/moment.js/moment.min.js"></script>
<script src="~/lib/select2/js/select2.min.js"></script>
<script>

	$.fn.select2.defaults.set("theme", "bootstrap");

	
	$('#InChargePerson').select2()
	$('#Responsibility').select2();
	$('#Case').select2();
	$('#Rank').select2();

	var oldIssuedate;

	$(document).ready(() =>
	{
		On_Loading();
		SetUp();


	});

	function CheckDate() {
		let workingdate = new Date($('#IssueDate').val());
		let dateNow = new Date();

		if (workingdate > dateNow) {
			swal("", "You must choose Issue date < or = today.", "error");
			$('#IssueDate').val(oldIssuedate);
		}

	}

	function Save()
	{
		var msg = "Please Enter ";

		

		if ($('#InChargePerson').val() == "" || $('#InChargePerson').val() == null) {
			msg = msg + " InChargePerson ";
		}

		if ($('#Responsibility').val() == "" || $('#Responsibility').val() == null) {
			msg = msg + " Responsiblity ";
		}

		if ($('#Case').val() == "" || $('#Case').val() == null) {
			msg = msg + " Cause ";
		}

		if ($('#IssueDate').val() == "" || $('#IssueDate').val() == null) {
			msg = msg + " IssueDate ";
		}

		///////////////////////////////////////////////////////////////////////

		swal({
			title: "",
            text: "Are you sure? Do you want to save it?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Yes",
			cancelButtonText: "No",
			closeOnConfirm: false,
			closeOnCancel: false
		},
			function (isConfirm) {
				if (isConfirm) {
					if (($('InChargePerson').val() != "" && $('#InChargePerson').val() != null) &&
						($('#Responsibility').val() != "" && $('#Responsibility').val() != null) &&
						($('#Case').val() != "" && $('#Case').val() != null) &&
						($('#IssueDate').val() != "" && $('#IssueDate').val() != null))
					{
						 $('#SaveBtn').trigger('click');
					}
					else
					{
						swal("", msg, "error");
					}

				}
				else {

                    swal("", "Cancelled", "error");
				}
			});

	}

	function GetDropDownRank(RankID)
	{
		//RankID

		$.ajax({
			type: "POST",
			url: "/ProjectUpdateStatus/GetDropDownRank",
			data: "",
			dataType: "json",
			success: function (response)
			{

				if (response != null && RankID != "")
				{

					for (var i = 0; i < response.length; i++)
					{

						optionValue = response[i].DR_Code;
						optionText = response[i].DR_Description;
						$('#Rank').append(`<option value="${optionValue}">
									   ${optionText}
								  </option>`);

						if (RankID == optionValue) {

							$("#Rank option[value=\"" + optionValue + "\"]").prop("selected", "selected");
						}
					}


				}
				else {
						for (var i = 0; i < response.length; i++)
						{

							optionValue = response[i].DR_Code;
							optionText = response[i].DR_Description;
							$('#Rank').append(`<option value="${optionValue}">
										   ${optionText}
									  </option>`);
						}
				}


				@*response.forEach((obj) =>
				{

					optionValue = obj.DR_Code;
					optionText = obj.DR_Description;

					$('#Rank').append(`<option value="${optionValue}">
										  ${optionText}
									  </option>`);
				});*@
			},
			failure: function (response) {
				alert(response.responseText);
			},
			error: function (response) {
				alert(response.responseText);
			}

		});
	}

	function SetUp()
	{
		
		Get_DefectItem();		
		Get_Data();
	}
	

	function Get_Data()
	{
		var DT_Code = "@Session["DT_Code"]";		
		$('#DT_Code').val(DT_Code);

		$.ajax({
			type: "POST",
			url: "/ProjectUpdateStatus/Get_Data_By_DT_Code",
			data: { DT_Code: DT_Code },
			dataType: "json",
			success: function (response)
			{
				if (response.code === 1) {
					window.location = '/Login/Logout';
				}
				else {

					//$('#Rank').val(response[0].DT_Rank);
					oldIssuedate = moment(response[0].DT_Issue_Date).format("yyyy-MM-DD");
					$('#IssueDate').val(moment(response[0].DT_Issue_Date).format("yyyy-MM-DD"));//"MM/DD/YYYY"
					$('#IssueBy').text(response[0].DT_Issue_by);
					$('#NoteDefect').val(response[0].DT_Note_Defect);
					//$('#PlanRectify').val(response[0].DT_Plan_Rectify_Finish);
					if (moment(response[0].DT_Plan_Rectify_Finish).format("DD-MM-YYYY") == "01-01-9999") {
						$('#PlanRectify').text("N/A");
					}
					else {
						$('#PlanRectify').text(moment(response[0].DT_Plan_Rectify_Finish).format("DD-MMM-YYYY"));
					}

					GetDropDown_InChargePerson(response[0].DICP_Code);
					GetDropDown_Responsibility(response[0].DResp_Code, response[0].DCause_Code);
					GetDropDownRank(response[0].DT_Rank);
				}

			},
			failure: function (response) {
				alert(response.responseText);
			},
			error: function (response) {
				alert(response.responseText);
			}

		});


	}

	function Get_DefectItem()
	{
		var item_Code = "@Session["Item_Code"]"	
	//	On_Loading();
		$.ajax({
			type: "POST",
			url: "/ProjectUpdateStatus/Get_DefectItem",
			data: { Defect_Item_Code: item_Code },
				dataType: "json",
				success: function (response)
				{
					if (response.code === 1) {
						window.location = '/Login/Logout';
					}
					else {
						$('#DefectItem').val(response[0].Item_No);
						$('#DefectItemText').text(response[0].Item_Description);
					}
				},
			failure: function (response) {
				alert(response.responseText);
			},
			error: function (response) {
				alert(response.responseText);
			}

		});
	}

	function GetDropDown_InChargePerson(DICP_Code)
	{
		$.ajax({
			type: "POST",
			url: "/ProjectUpdateStatus/GetDropDown_InChargePerson",
			data: "",
			dataType: "json",
			success: function (response) {

				
				if (response != null && DICP_Code != "")
				{

						for (var i = 0; i < response.length; i++) {

							optionValue = response[i].DICP_Code;
							optionText = response[i].DICP_Description;
							$('#InChargePerson').append(`<option value="${optionValue}">
									   ${optionText}
								  </option>`);

							if (DICP_Code == optionValue) {

								$("#InChargePerson option[value=\"" + optionValue + "\"]").prop("selected", "selected");
							}
						}


				}
				else
				{
					for (var i = 0; i < response.length; i++)
					{

							optionValue = response[i].DICP_Code;
							optionText = response[i].DICP_Description;
							$('#InChargePerson').append(`<option value="${optionValue}">
									   ${optionText}
								  </option>`);
					}
				}
				
			},
			failure: function (response) {
				alert(response.responseText);
			},
			error: function (response) {
				alert(response.responseText);
			}

		});
	}
	function GetDropDown_Responsibility(Resp_Code,Case_Code) {
		$.ajax({
			type: "POST",
			url: "/ProjectUpdateStatus/GetDropDown_Responsibility",
			data: "",
			dataType: "json",
			success: function (response) {


				

				if (response != null && response != "") {

					for (var i = 0; i < response.length; i++) {

						optionValue = response[i].DResp_Code;
						optionText = response[i].DResp_Description;
						$('#Responsibility').append(`<option value="${optionValue}">
									   ${optionText}
								  </option>`);

						if (Resp_Code == optionValue) {

							$("#Responsibility option[value=\"" + optionValue + "\"]").prop("selected", "selected");
						}
					}


				}
				else {

					for (var i = 0; i < response.length; i++) {

						optionValue = response[i].DResp_Code;
						optionText = response[i].DResp_Description;
						$('#Responsibility').append(`<option value="${optionValue}">
									   ${optionText}
								  </option>`);
					}
				}
				//Case_Code
				GetDropDown_Case(Case_Code);
			},
			failure: function (response) {
				alert(response.responseText);
			},
			error: function (response) {
				alert(response.responseText);
			}

		});
		Off_Loading();
	}
	function GetDropDown_Case(Case_Code)
	{
		//On_Loading();
		ClearCase();
		var dresp_code = $('#Responsibility').val();

		if (dresp_code != "" && dresp_code!=null)
		{
			$.ajax({
				type: "POST",
				url: "/ProjectUpdateStatus/GetDropDown_Case",
				data: { DResp_Code: dresp_code },
				dataType: "json",
				success: function (response) {



					if (response != null && response != "") {

						for (var i = 0; i < response.length; i++) {

							optionValue = response[i].DCause_Code;
							optionText = response[i].DCause_Description;
							$('#Case').append(`<option value="${optionValue}">
									   ${optionText}
								  </option>`);

							if (Case_Code == optionValue) {

								$("#Case option[value=\"" + optionValue + "\"]").prop("selected", "selected");
							} 
						}


					}
					else {

						for (var i = 0; i < response.length; i++) {

							optionValue = response[i].DCause_Code;
							optionText = response[i].DCause_Description;
							$('#Case').append(`<option value="${optionValue}">
									   ${optionText}
								  </option>`);
						}
					}

				},
				failure: function (response) {
					alert(response.responseText);
				},
				error: function (response) {
					alert(response.responseText);
				}

			});
			Off_Loading();
		}
		else
		{
			Off_Loading();
			swal("", "Plase Select Responsibility ", "error");
		}
	}

	function ClearCase()
	{
		$('#Case')
			.find('option')
			.remove()
			.end()
			.append('<option value="">--Selected--</option>')
			.val('')
			;
	}


	function ClearRank()
	{
		$('#Rank').val("");
	}
	function GetRank()
	{

		//On_Loading();
		ClearRank();
		var Defect_Code = $('#DefectItem').val();


		if (Defect_Code != "" && Defect_Code != null) {
			$.ajax({
				type: "POST",
				url: "/ProjectUpdateStatus/GetRank",
				data: { Defect_Code: Defect_Code },
				dataType: "json",
				success: function (response)
				{
					//console.log(response);
					if (response.code === 1) {
						window.location = '/Login/Logout';
					}
					else {
						$('#Rank').val(response.Rank);
					}
				},
				failure: function (response) {
					alert(response.responseText);
				},
				error: function (response) {
					alert(response.responseText);
				}

			});
		//	Off_Loading();
		}
		else {
			//Off_Loading();
			swal("", "Plase Select Defect Item ", "error");
		}
	}

	@*function CheckDate()
	{
		var MyDate = $('#IssueDate').val();

		var d = new Date();
		var month = d.getMonth() + 1;
		var day = d.getDate();
		var DateNow = day + '/' +
			(('' + month).length < 2 ? '0' : '') + month + '/' +
			(('' + day).length < 2 ? '0' : '') + d.getFullYear();


		if (new Date(MyDate) > new Date(DateNow))
		{
			swal("", "The selected date is no more than today !", "error");
			$('#IssueDate').val("");
		}
	}*@


</script>
