
@{
    ViewBag.Title = "Index";
}

@if ((ViewBag.GetRoles != "") && (ViewBag.GetMNRoles != null))
{
    if ((ViewBag.GetRoles == "Role_IN11") && (ViewBag.GetMNRoles == "PDSCPAGE004"))
    {
        <div class="card-hover-shadow-2x card-border card" style="margin-top:45px; margin-bottom:45px;">
            <div class="card-header">
                <h3 style="color:black;">Contract Information</h3>
            </div>
            <div class="card-body">

                <table id="Project_table" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr class="pj-in-th">
                            <th>No.</th>
                            <th>Sale Order</th>
                            <th>MFG</th>
                            <th>EQ. No.</th>
                            <th>Spec Desc.</th>
                            <th>Manufacturing</th>
                            <th>PO No.</th>
                            <th>Contract No.</th>
                            <th>Contract Date</th>
                            <th>Contract Delivery Date</th>
                            <th>Contract Hand Over Date</th>
                            <th>PO Shipment Date</th>
                            <th>Partial Date</th>
                            <th>Partial Item</th>
                            <th>Confrim DSCR Date</th>
                            <th>D/O Date</th>
                            <th>Revise H/O Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <a href="@Url.Action("Index", "ProjectInformation")" class="float pointer" style="color:white;">
            <i class="fas fa-arrow-left B-icon"></i>
        </a>
    }
}
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                On_Loading();
                LoadTable();

            });
            function LoadTable() {
                $.ajax({
                    type: "POST",
                    url: "/IN_ContractInformation/LoadData",
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        Off_Loading();
                    },
                    error: function (response) {
                        Off_Loading();
                    }
                });
            }

            function OnSuccess(response) {
                On_Loading();
                var table = $("#Project_table").DataTable(
                    {
						fixedColumns: {
							leftColumns: 5,
							//rightColumns: 1
						},
						scrollX: true,
                        searching: false,
                        info: true,
                        paging: true,

                        data: response,
                        columns: [


                            {
                                'data': 'id',
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            { 'data': 'Sale_Order' },
                            { 'data': 'MFG' },
                            { 'data': 'EQ_No' },
                            { 'data': 'Item_Description' },
                            { 'data': 'Manufacturing' },
                            { 'data': 'PO_No' },
                            { 'data': 'Contract_No' },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13"  >' + moment(data.Contract_Date).format("YYYY-MM-DD") + '</lable>';

                                    if (moment(data.Contract_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.Contract_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13" >' + moment(data.Contract_Delivery_Date).format("YYYY-MM-DD") + ' </lable>';
                                    if (moment(data.Contract_Delivery_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.Contract_Delivery_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13" >' + moment(data.Contract_Handover_Date).format("YYYY-MM-DD") + ' </lable>';

                                    if (moment(data.Contract_Handover_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.Contract_Handover_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13" >' + moment(data.PO_Shipment_Date).format("YYYY-MM-DD") + ' </lable>';

                                    if (moment(data.PO_Shipment_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.PO_Shipment_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13" >' + moment(data.Partial_Date).format("YYYY-MM-DD") + ' </lable>';

                                    if (moment(data.Partial_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.Partial_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                            { 'data': 'Partial_Item' },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13" >' + moment(data.Confirm_DSCR_Date).format("YYYY-MM-DD") + '</lable>';

                                    if (moment(data.Confirm_DSCR_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.Confirm_DSCR_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13" >' + moment(data.DO_Date).format("YYYY-MM-DD") + '</lable>';

                                    if (moment(data.DO_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.DO_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    //return '<lable class="text-font-13" >' + moment(data.Revise_HO_Date).format("YYYY-MM-DD") + ' </lable>';

                                    if (moment(data.Revise_HO_Date).format("DD-MM-YYYY") == "01-01-9999") {
                                        return '<lable class="text-font-13" style="font-weight:bold">N/A</lable>';
                                    }
                                    else {
                                        return moment(data.Revise_HO_Date).format("DD-MMM-YYYY");
                                    }
                                }
                            },
                        ]

                    });
                Off_Loading();
            }
        </script>

